.introContainer {
  text-align: center;
}

.pad {
  padding: 2vh 2vw;
}

.center {
  text-align: center;
  font-size: xxx-large;
  margin-bottom: 1vh;
}

.introText {
  font-size: large;
  margin-bottom: 2vh;
}

.courseList {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2vw;
  margin-top: 1vh;
}

.courseCards {
  border: 0.2vh solid #e0e0e0;
  width: 40%;
  margin: auto;
  background-color: #ffffff;
  border-radius: 1vh;
  padding: 0.25vh 0.25vw;
  margin-bottom: 2vh;
}

.courseCards h3 {
  font-size: x-large;
  margin-bottom: 1vh;
}

.courseCards p {
  font-size: large;
  margin-bottom: 1vh;
}

.courseCard h3 {
  font-size: x-large;
  margin-bottom: 1vh;
}

.courseCard p {
  font-size: large;
  margin-bottom: 1vh;
}

.padCard {
  padding: 2vh 2vw;
}

.padTitle {
  padding: 1vh 2vw;
}

.button {
  background-color: #39aa35;
  color: #f5f5f5;
  padding: 1.75vh 1.75vw;
  border: none;
  border-radius: 1vh;
  cursor: pointer;
  width: 100%;
  font-size: large;
  font-weight: bold;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.button:hover {
  background-color: #009a53;
}

.button:active {
  background-color: #39aa35;
}
