.center {
  text-align: center;
  margin-bottom: 1vh;
}

.introText {
  font-size: large;
}

.missionText {
  font-size: large;
}

.startOptions {
  text-align: center;
}
.pad {
  padding: 2vh 1vw;
}

.padStart {
  padding: 0.75vh 1vw;
}

.button {
  background-color: #39aa35;
  color: #f5f5f5;
  padding: 1.75vh 1.75vw;
  border: none;
  border-radius: 1vh;
  cursor: pointer;
  width: 100%;
  font-size: large;
  font-weight: bold;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.button:hover {
  background-color: #009a53;
}

.button:active {
  background-color: #39aa35;
}
