.centerContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.center {
  text-align: center;
  font-size: xxx-large;
  margin-bottom: 1vh;
}

.noDecoration {
  text-decoration: none;
  color: #252525;
}

.quizCard {
  margin: 1vh;
  border: 1px solid #252525;
  border-radius: 2vh;
  padding: 1vh 1vw;
  width: 60vw;
}

.cardContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.textContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.title {
  font-size: x-large;
  font-weight: bold;
  margin-bottom: 0.25vh;
}

.description {
  text-align: left;
  margin-bottom: 1vh;
}
