.center {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-top: 1rem;
    margin-right: 1rem;
    position: absolute;
    top: 0;
    right: 0;
}