.center {
  text-align: center;
  font-size: xxx-large;
  margin-bottom: 1vh;
}

.introText {
  font-size: large;
  margin-bottom: 2vh;
  text-align: center;
}

.exerciseList {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2vw;
}

.exerciseCard {
  flex: 1;
  background-color: #ffffff;
  border: 0.2vh solid #e0e0e0;
  border-radius: 1vh;
  padding: 1vh 3vw;
  text-align: center;
  height: 30vh;
}

.exerciseCard h3 {
  font-size: x-large;
  margin-bottom: 1vh;
}

.pad {
  padding: 2vh 2vw;
}

.pad2 {
  padding: 0.75vh 2vw;
}

.exerciseCard p {
  font-size: large;
  margin-bottom: 1vh;
}

.button {
  background-color: #39aa35;
  color: #f5f5f5;
  padding: 1.75vh 7vw;
  border: none;
  border-radius: 1vh;
  cursor: pointer;
  font-size: large;
  font-weight: bold;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.button:hover {
  background-color: #009a53;
}

.button:active {
  background-color: #39aa35;
}
