.center {
    margin: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    opacity: 0;
    animation: fade-in 1s ease-in-out forwards;
  }
  
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
.text {
    margin-left: 1vh;
    font-size: x-large;
    color: black;
    font-style: italic;
    font-family: monospace;
    opacity: 0;
    animation: fade-in 1s ease-in-out forwards;
}

.mail {
    color: #27374D;
}

.padding {
    padding: 0.5vh;
}

.padBot {
  padding: 2vh;
}
