.global {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.input {
  width: 97%;
  padding: 8px;
  border: none;
  outline: none;
  font-size: 16px;
  border-radius: 4px;
  border: 2px solid #009a53;
  border-radius: 4px;
  padding: 8px;
  margin: 8px 0;
  margin-bottom: 2vh;
}

.list {
  list-style-type: none;
  cursor: pointer;
  margin: 1.3vh 0;
  padding: 2vh 0.8vw;
  color: #252525;
  border: 0.1vh solid lightgray;
}

.listHover {
  background-color: #d8d8d8;
  columns: #fff;
}

.listSelected {
  background-color: #39aa35;
}

.btn {
  background-color: #39aa35;
  color: #f5f5f5;
  padding: 1.75vh 1.75vw;
  border: none;
  border-radius: 1vh;
  cursor: pointer;
  width: 100%;
  font-size: large;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #009a53;
}

.btn:active {
  background-color: #39aa35;
}

.container {
  max-width: 50vw;
  width: 100%;
  margin: auto;
  padding: 0.5vh;
}

.quizContainer {
  background-color: #f5f5f5;
  padding: 1vh;
  margin-top: 1vh;
}

.container p {
  padding: 1vh 0;
}

.center {
  text-align: center;
  margin-bottom: 1vh;
}
