.navbar {
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: #2f4f4f;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: x-large;
}

.navbarLinks {
    display: flex;
    justify-content: flex-start;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    margin-right: 2vh;
}

.navbar a:hover {
    color: #ccc;
}

.userButton {
    margin-left: 10px;
}

.navbarLine {
    height: 2px;
    background-color: #ccc;
}

.pad {
    padding-right: 60vh;
}