.navbar {
    top: 0;
    z-index: 999;
    background-color: #526D82;
    padding: 1vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: x-large;
}

.navbarLinks {
    display: flex;
    justify-content: flex-start;
}

.navbar a {
    color: #DDE6ED;
    text-decoration: none;
    transition: color 0.3s ease;
    margin-right: 2vh;
}

.navbar a:hover {
    color: #27374D;
}

.userButton {
    margin-left: 1vh;
}

.navbarLine {
    border-bottom: 0.3vh solid #DDE6ED;
}