.center {
    margin: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 24px;
    font-weight: bold;
    color: #00ff00;
    margin-top: 20px;
    text-align: center;
}

.green {
    color: #007f00;
}