.center {
  margin: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.missionContainer {
  display: flex;
  align-items: center;
}

.imageContainer {
  margin-right: 2vw;
}

.title {
  font-size: xx-large;
  font-weight: bold;
  color: #252525;
  margin-bottom: 1vh;
}

.galager {
  color: #252525;
  font-weight: bold;
}

.blueLine {
  width: 4vw;
  height: 0.25vh;
  background-color: #252525;
  margin-bottom: 1vh;
}

.text {
  color: #252525;
  font-size: x-large;
}

/*.image {
  opacity: 0;
  animation: fadeInImage 2s forwards;
}

.textContainer {
  opacity: 0;
  animation: fadeInText 2s forwards;
}

@keyframes fadeInImage {
  to {
    opacity: 1;
  }
}

@keyframes fadeInText {
  to {
    opacity: 1;
  }
}*/
