.lessonButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2vh 2vw;
}

.backButton,
.nextButton {
    display: inline-block;
    padding: 1.5vh 1.75vw;
    background-color: #27374D;
    text-decoration: none;
    border: none;
    font-size: medium;
    border-radius: 3vh;
    cursor: pointer;
    transition: background-color 0.3s;
}

.backButton {
    color: #DDE6ED;
    margin-right: 2vw;
}

.nextButton {
    color: #DDE6ED;
    margin-left: 2vw;
}

.backButton:hover,
.nextButton:hover {
    background-color: #172335;
}

.backButton:active,
.nextButton:active {
    background-color: #27374D;
}