.footer {
    background-color: #f5f5f5;
    padding: 2vh;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    border-top: 1px solid #ccc;
    font-size: x-large;
}

.footer div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer nav {
    display: flex;
    gap: 2vh;
}

.footer nav a {
    color: #555;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer nav a:hover {
    color: #000;
}

.footer p {
    color: #777;
    font-size: 2vh;
    margin-top: 1.5vh;
}